{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}

            {% endblock %}
            Emmanuel Alvarado
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>

        <header>
            <div id="logo">
                <img src="{% static 'images/django-logo-negative.png' %}" alt="">
                <h1>Sitio web con Django</h1>
            </div>
        </header>
        <nav>    
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>

                {% if user.email %}
                    <li>
                        <a href="{% url 'Article list'%}">Categorías</a>
                        <ul>
                            {% for cat in categories %}
                                <li>
                                    <a href="{% url 'Category' cat.0 %}">{{ cat.1 }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% for page in pages %}
                        <li>
                            <a href="{% url 'page' page.2 %}">{{ page.1 }}</a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="{% url 'Logout' %}">Cerrar sesión</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'Login' %}">Login</a>
                    </li>
                    <li>
                        <a href="{% url 'Register' %}">Registrarse</a>
                    </li>
                {% endif %}

            </ul>
            <hr/>
        </nav>

        <div id="content">
            <h2 class="title">Título de prueba</h2>
            <div class="block-content">
                {% block content %}
                    <strong>contenido del bloque original</strong>
                {% endblock %}
            </div>
        </div>

        <footer>
            <hr>
            Master en Python &copy; Emmanuel Alvarado {% now "DATE_FORMAT" %}
        </footer>
    </body>
</html>